.tmp/
coverage/
dist/
node_modules/
*.swp
.cache
.env
.idea/vcs.xml
.idea/workspace.xml
.idea/modules.xml
.idea/SlackOverflowDev.iml
src/DataLayer/dbconfig.php
.idea/misc.xml
.idea/slack-overflow-webpck.iml
.idea/dictionaries/Minaloc.xml
package.json
package-lock.json
package-lock.json
src/DataLayer/dbconfig.php
