<div class="row">
  <div class="col-xs-12">
    <h1>Language Component!</h1>
  </div>
</div>

<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <a type="button" class="btn btn-info" ng-click="vm.submitLang('java')">Learn More About Java</a>
      <a type="button" class="btn btn-warning" ng-click="vm.submitLang('javascript')">Learn More About JavaScript</a>
      <a type="button" class="btn btn-success" ng-click="vm.submitLang('php')">Learn More About PHP</a>
    </div>
    <div class="col-xs-4"></div>
  </div>
