<div class="row">
  <div class="col-xs-12">
    <h1>Choose a Language to Learn About</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <a type="button" class="btn btn-info button-padding" ng-click="vm.submitLang('java')">Learn More About Java</a>
    <a type="button" class="btn btn-warning button-padding" ng-click="vm.submitLang('javascript')">Learn More About JavaScript</a>
    <a type="button" class="btn btn-success button-padding" ng-click="vm.submitLang('php')">Learn More About PHP</a>
  </div>
  <div class="col-xs-4"></div>
</div>
