<div class="row">
  <div class="col-xs-12">
    <h1 class="secondary-title"></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <form class="form-inline" ng-submit="vm.login()">
      <div class="row">
        <label for="uname"><b>Username</b><a class="fa fa-question-circle" href="#0" title="This is the email you used to create your account." data-toggle="tooltip" data-placement="right"></a></label>
        <input type="text" class="form-control" placeholder="Enter Username" ng-model="vm.username" required minlength="3">
      </div>
      <div class="row">
        <label for="psw"><b>Password</b><a class="fa fa-question-circle" href="#0" title="This is your secret phrase used to login." data-toggle="tooltip" data-placement="right"></a></label>
        <input type="password" class="form-control" placeholder="Enter Password" ng-model="vm.password" required minlength="3">
      </div>
      <div class="row">
        <label>
          <input type="checkbox" ng-model="vm.createAccount">Create a New Account
        </label>
      </div>
      <label>
          
      <div class="row">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
  <div class="col-xs-4"></div>
</div>
