<div class="row">
    <div class="col-xs-12">
      <h1>Choose a Topic to Learn More About {{vm.data.language}}!</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a type="button" class="btn btn-primary button-padding back" ng-click="vm.back()">Back</a>
  </div>
</div>
<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <a type="button" class="btn btn-info button-padding" ng-click="vm.submitTopic('functions')">{{vm.data.language}} Functions</a>
      <a type="button" class="btn btn-warning button-padding" ng-click="vm.submitTopic('variables')">{{vm.data.language}} Variables</a>
      <a type="button" class="btn btn-success button-padding" ng-click="vm.submitTopic('tips')">Read Tips From Your Peers!</a>
    </div>
    <div class="col-xs-4"></div>
  </div>

