/* styles in src/style directory are applied to the whole page */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Serif+Pro');

body {
  background: #FAFAFB;
  font-size: 16px;
}
main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
  /*** position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; ***/
}

.slack-title {
  font-family: "Source Sans Pro", sans-serif;
  color: #222426;
}

.slack-title-bold {
  font-family: "Source Sans Pro", sans-serif;
  color: #222426;
  font-weight: 600;
}

.row {
  padding-bottom: 10px;
}

.button-padding {
  margin-bottom: 10px !important;
  min-width: 210px;
}

.form-control  {
  border-radius: 2px !important;
}

.btn {
  border-radius: 2px !important;
}

.back{
  float: left;
  width: 70px !important;
  min-width: 0;
}

.fa.fa-question-circle {
  margin-left: 20px;
  font-size: 24px;
  opacity: .7;
  color: orange;
  text-decoration: none;
}
.fa.fa-question-circle:hover {
  opacity: 1;
  cursor: pointer;
}

.secondary-title {
  font-family: "Source Serif Pro", sans-serif;
  font-size: 26px;
  color: #333333;
}

div.card.h-100 {
  text-align: left;
  margin-bottom: 50px;
}

p.card-text.ng-binding {
  color: #285d8b;
  font-size: 22px;
}

.btn-info {
  background-color: #63bee9;
}

.btn-warning {
  background-color: #f1b65d;
}

.btn-success {
  background-color: #70be70;
}

tips .addTip input {
  margin-bottom: 15px;
}

/*** Media Queries ***/
/*** @media only screen and (max-height: 450px) {
  footer {
    position: relative !important;
  }
}***/