tips {
  h1 {
    color: salmon;
  }
  i.fa{
    display: inline-block;
    position: relative;
    padding: 5px;
    font-size: 22px;
  }
  .tip{
    i:hover{
      cursor: pointer;
    }
  }
  .addTip{
    margin-bottom: 40px;
    input{
      width: 100% !important;
      max-width: 500px;
    }
  }
}
