<div class="row">
  <div class="col-xs-12">
    <h1>Tips on <span style="text-transform: uppercase;">{{vm.data.language}}!</span></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a type="button" class="btn btn-primary button-padding back" ng-click="vm.back()">Back</a>
  </div>
<div class="row addTip">
  <div class="col-xs-12">
    <h2>Add a tip:</h2>
    <form class="form-inline" ng-submit="vm.addTip()">
      <input type="text" class="form-control" ng-model="vm.tipDesc" required>
      <div class="row">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-6 portfolio-item tip" ng-repeat="tip in vm.tipslist">

    <div class="card h-100">
      <h4 class="card-header">
        <p class="card-text" ng-bind-html="tip.description"></p>
      </h4>
      <div class="card-body">
        <a ng-click="vm.upVote(tip.tipsid)"><i class="fa fa-thumbs-up" style="color:forestgreen"></i></a>
        <a ng-click="vm.downVote(tip.tipsid)"><i class="fa fa-thumbs-down" style="color:red"></i></a>
        Rating: <span ng-bind-html="tip.rating"></span>
      </div>
    </div>
  </div>
</div>
