<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="slack-title">slack<span class="slack-title-bold">overflow</span></h1>
    </div><!-- end col -->
  </div><!-- end row -->
  
  <login ng-if="vm.state=='login'" user="vm.loginData"></login>
  <topic ng-if="vm.state=='topic'" data="vm.topicData"></topic>
  <tips ng-if="vm.state=='tips'" data="vm.tipsData"></tips>
  <posts ng-if="vm.state=='posts'" data="vm.postsData"></posts>
  <language ng-if="vm.state=='language'" data="vm.langData"></language>

</div>
